sudo: required

services:
  - docker

before_install:
  - docker pull quay.io/coreos/etcd:v3.2.3
  - docker run -d -p 2379:2379 quay.io/coreos/etcd:v3.2.3 etcd -name etcd4j -advertise-client-urls "http://127.0.0.1:2379" -listen-client-urls "http://0.0.0.0:2379"
  - docker ps -a

addons:
  apt:
    packages:
    - oracle-java8-installer


language: java
install: true

jdk:
  - oraclejdk8

script: "
  ./mvnw -Pintegration install
"
env:
  global:
  - CI: true

